*, *::before, *::after {
    box-sizing: border-box;
}

body {
    padding: 0;
    text-align: center;
    margin: 0;
    font-family: Montserrat; 
    font-size: 2rem;
    color:ivory;
    }

.brand-logo-name {
    align-items: center;
    color: inherit;
    text-decoration: none;
    margin-left: 0rem;
    margin-top: 3.5rem;
    position: absolute;
    width: 458.3px;
    height: 61.11px;
    left: calc(50% - 458.3px/2 + 0.15px);
    top: calc(50% - 61.11px/2 - 275.45px);

    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 50.4097px;
    line-height: 61px;
/* identical to box height */


    color: #FFFFFF;
}

@media screen and (max-width:600px) {
    div.brand-logo-name { font-size: 30px;}
}

.main-launching ul {
margin: 0;
padding: 0;
list-style: none;
position: absolute;
margin-top: 5rem;
width: 314.11px;
height: 32.31px;
left: calc(50% - 314.11px/2);
top: calc(50% - 32.31px/2 - 200.03px);

font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 26.6554px;
line-height: 32px;
/* identical to box height */
color: #FAD3B2;
}

.main-launching ul a {
    font-size:1rem ;
    position: absolute;
}

.follow-us {
position: absolute;
width: 160.21px;
height: 40.67px;
left: calc(50% - 160.21px/2 + 9.1px);
top: calc(50% - 40.67px/2 + 186.34px);
font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 33.2035px;
line-height: 40px;
/* identical to box height */
color: #FAD3B2;

}


.Stupefy-main {
    position: absolute;
    width: 234.91px;
    height: 30.71px;
    left: calc(50% - 234.91px/2 + 9.46px);
    top: calc(50% - 30.71px/2 + 242px);
    
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size:medium;
    line-height: 31px;
    /* identical to box height */
    
    
    color: #FAD3B2;  
}

.rocket {
    display: block;
    margin-left: auto;
    margin-top: 20rem;
    margin-right: auto;
}

.icon-main {
    display:flex
}

.icons-insta {
position: absolute;
width: 38.02px;
height: 38.02px;
left: calc(50% - 38.02px/2 - 60.99px);
top: calc(50% - 38.02px/2 + 308.01px);
    
}

.icons-behance {
position: absolute;
width: 38.02px;
height: 38.02px;
left: calc(50% - 38.02px/2 - 0.37px);
top: calc(50% - 38.02px/2 + 308.01px);
   
}

.icons-linkedin {
position: absolute;
width: 38.02px;
height: 38.02px;
left: calc(50% - 38.02px/2 + 60.25px);
top: calc(50% - 38.02px/2 + 308.01px);
 
}